[Desktop Entry]
Name=TinyMice
Comment=Auto Clicker
Exec=tinymice
Icon=tinymice
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Keywords=Auto;Clicker;AutoClicker;Auto Clicker;Mouse;
